@media only screen and (max-width:783px){
    *{
        zoom:90%;
    }
    #wrapper{
        grid-template-columns: 1fr;
    }
    #sidebar{
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    #logo{
        display: inline-block;
    }
    .features{
        /* padding-left:20rem;
        padding-right:20rem; */
        white-space: nowrap;             /******************************************************************/
        padding-left:2rem;
        padding-right: 0;
    }
    #bottom_image{
        /* display: flex;
        justify-content: center; */
        padding-bottom: 4rem;
        padding-left: 0;
    }
}
